In [1]:
# Import the dependencies. 
import pandas as pd
import gmaps
import requests
# Import the API key. 
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saskylakh,RU,2022-09-27 14:19:05,71.9167,114.0833,25.23,95,88,8.28
1,1,Hermanus,ZA,2022-09-27 14:19:06,-34.4187,19.2345,65.80,67,1,9.89
2,2,Ano Mera,GR,2022-09-27 14:19:07,37.4500,25.4000,79.43,57,40,20.71
3,3,Albany,US,2022-09-27 14:19:08,42.6001,-73.9662,59.43,76,66,5.68
4,4,Rikitea,PF,2022-09-27 14:19:08,-23.1203,-134.9692,67.95,59,30,7.99

In [4]:
# Get the data types. 
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key. 
gmaps.configure(api_key=g_key)

In [ ]:
# # 1. Assign the locations to an array of latitude and longitude pairs. 
# locations = [latitude, longitude]
# # 2. Assign the weights variable to some values. 
# temperatures = # an array of length equal to the locations array length
# # 3. Assign the figure variable to the gmaps.figure() attribute. 
# fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and addd in the locations. 
# heatmap_layer = gmaps.heatmap_layer(locations, weights=termperatures)

# # 5. Add the heatmap layer. 
# fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data. 
# fig

In [7]:
# Get the maximum temperature. 
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp: 
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity = 300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value. 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Ano Mera,GR,2022-09-27 14:19:07,37.4500,25.4000,79.43,57,40,20.71
6,6,Arraial Do Cabo,BR,2022-09-27 14:19:10,-22.9661,-42.0278,84.16,88,75,5.75
16,16,Victoria,HK,2022-09-27 14:19:16,22.2855,114.1577,86.38,76,13,11.99
17,17,Hilo,US,2022-09-27 14:19:17,19.7297,-155.0900,79.29,82,100,6.91
22,22,Inhambane,MZ,2022-09-27 14:19:19,-23.8650,35.3833,78.78,89,75,12.66
23,23,Sonoita,MX,2022-09-27 14:19:20,31.8500,-112.8333,82.69,41,6,4.74
24,24,Kahului,US,2022-09-27 14:19:20,20.8947,-156.4700,77.85,73,0,5.99
33,33,San Patricio,US,2022-09-27 14:19:26,28.0170,-97.5169,80.91,48,31,11.34
38,38,Lazaro Cardenas,MX,2022-09-27 14:19:28,17.9583,-102.2000,78.30,88,80,4.59
43,43,Sao Filipe,CV,2022-09-27 14:19:31,14.8961,-24.4956,77.20,77,99,3.00

In [20]:
preferred_cities_df.count()

City_ID       179
City          179
Country       179
Date          179
Lat           179
Lng           179
Max Temp      179
Humidity      179
Cloudiness    179
Wind Speed    179
dtype: int64

In [22]:
# Create DataFrame called hotel)df to store hotel names along with city, country, max temp, and coordinates. 
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2          Ano Mera      GR     79.43  37.4500   25.4000
6   Arraial Do Cabo      BR     84.16 -22.9661  -42.0278
16         Victoria      HK     86.38  22.2855  114.1577
17             Hilo      US     79.29  19.7297 -155.0900
22        Inhambane      MZ     78.78 -23.8650   35.3833
23          Sonoita      MX     82.69  31.8500 -112.8333
24          Kahului      US     77.85  20.8947 -156.4700
33     San Patricio      US     80.91  28.0170  -97.5169
38  Lazaro Cardenas      MX     78.30  17.9583 -102.2000
43       Sao Filipe      CV     77.20  14.8961  -24.4956

In [27]:
from config import g_key

# Set parameters to serch for a hotel. 
params = {
    "radius": 5000, 
    "type": "lodging", 
    "key": g_key
}

In [29]:
#Iterate through the DataFrame
for index, row in hotel_df.iterrows(): 
    # Get the latitude and longitude. 
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary. 
    params["location"] = f"{lat}, {lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name. 
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Ano Mera,GR,79.43,37.4500,25.4000,Hotel La Résidence Mykonos
6,Arraial Do Cabo,BR,84.16,-22.9661,-42.0278,Pousada Porto Praia
16,Victoria,HK,86.38,22.2855,114.1577,Mini Central
17,Hilo,US,79.29,19.7297,-155.0900,Hilo Hawaiian Hotel
22,Inhambane,MZ,78.78,-23.8650,35.3833,Oceano
23,Sonoita,MX,82.69,31.8500,-112.8333,Hotel internacional
24,Kahului,US,77.85,20.8947,-156.4700,Maui Seaside Hotel
33,San Patricio,US,80.91,28.0170,-97.5169,"Motel 6 Sinton, TX"
38,Lazaro Cardenas,MX,78.30,17.9583,-102.2000,HOTEL QUINTA ANTIGUA
43,Sao Filipe,CV,77.20,14.8961,-24.4956,Hotel Xaguate

In [34]:
# Add a heatmap of temperature for the vacation spots. 
locations = hotel_df[["Lat", "Lng"]]
max_temp=hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row. 
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]